* {
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	cursor: none;
}

::-webkit-scrollbar {
	width: 8px;
	cursor: pointer;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #ddd;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #fff;
}

html,
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #013358;
	background-image: url('./bg-waves.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-size: 16px;
}

body>.wrapper {
	position: absolute;
	height: 85%;
	width: 80%;
	overflow: hidden;
	border-radius: 20px;
}

body>.wrapper>.blur-mask {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgb(0, 0, 0, 35%);
	background-image: linear-gradient(top, 90deg, rgb(255, 255, 255, 30%), rgb(255, 255, 255, 30%));
	/*backdrop-filter: blur(12px);*/
	/*-webkit-backdrop-filter: blur(12);*/
}

body>.wrapper>.content {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden auto;
}

body>.wrapper>.content>header {
	position: relative;
	float: left;
	width: 100%;
	overflow: visible;
}

body>.wrapper>.content>header a {
	color: white;
	text-decoration: none;
}

body>.wrapper>.content>header .nav-brand {
	position: fixed;
	height: 80px;
	width: 80%;
	overflow: hidden;
	margin: 0;
	padding: 0 20px;
	display: flex;
	justify-content: start;
	align-items: center;
	border-radius: 20px 20px 0 0;
	z-index: 1;
}

body>.wrapper>.content>header .nav-brand>.brand {
	display: flex;
	justify-content: start;
	align-items: center;
}

body>.wrapper>.content>header .nav-brand>.brand>* {
	display: inline-block;
}

body>.wrapper>.content>header .nav-brand>.brand>img {
	float: left;
	height: 25px;
	width: 25px;
	margin-right: 10px;
}

body>.wrapper>.content>header .nav-brand>.brand>h1 {
	font-size: 1.4rem;
}

body>.wrapper>.content>header .nav-brand.shrink {
	height: 50px;
	margin-bottom: -20px;
}

body>.wrapper>.content>header .nav-brand.shrink>.brand>img {
	height: 20px;
	width: 20px;
	margin-right: 8px;
}

body>.wrapper>.content>header .nav-brand.shrink>.brand>h1 {
	font-size: 1.2rem;
}

body>.wrapper>.content>header>.banner-wrapper {
	background-image: url('banner-img.png');
	background-position: center;
	background-repeat: no-repeat;
	background-color: #01335855;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 100%;
	margin-top: 80px;
	text-align: center;
}

body>.wrapper>.content>header>.banner-wrapper>div {
	padding: 20px 30px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	font-size: 1.3rem;
}

body>.wrapper>.content>header>.banner-wrapper>div h2 {
	font-weight: 800;
}

body>.wrapper>.content>header>nav.nav-filter {
	width: 100%;
	height: 60px;
	border-radius: 0 0 20px 20px;
}

body>.wrapper>.content>header>nav.nav-filter.sticky {
	position: fixed;
	width: 80%;
	top: calc(50px + 7.5%);
	overflow: hidden;
	box-shadow: 0 5px 80px 10px rgba(0, 0, 0, 0.4);
	z-index: 0;
}

body>.wrapper>.content>header>nav.nav-filter>ul {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

body>.wrapper>.content>header>nav.nav-filter>ul>li {
	height: 60px;
}

body>.wrapper>.content>header>nav.nav-filter>ul>li>a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	border-bottom: 3px solid transparent;
	transition: all .1s ease-in-out;
}

body>.wrapper>.content>header>nav.nav-filter>ul>li.active>a,
body>.wrapper>.content>header>nav.nav-filter>ul>li:hover>a {
	border-bottom-color: white;
}

body>.wrapper>.content>main {
	min-height: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
}

body>.wrapper>.content>footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

body>.wrapper>.content>footer>* {
	height: 80px;
	color: #FFF;
	display: flex;
	align-items: center;
	font-size: 0.9rem;
}

body>.wrapper>.content>footer>a {
	text-decoration: none;
	padding-left: 20px;
	justify-content: start;
	font-size: 0.8rem;
}

body>.wrapper>.content>footer>a>img {
	height: 22px;
	width: 22px;
	margin-right: 5px;
}

body>.wrapper>.content>footer>a {
	padding-left: 20px;
	justify-content: start;
	font-weight: bold;
}

body>.wrapper>.content>footer>p {
	padding-right: 20px;
	justify-content: end;
	font-size: 0.8rem;
	font-weight: 500;
}

/*
* Utilities
*/
.cursor {
	position: absolute;
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, 1);
	mix-blend-mode: difference;
	/*backdrop-filter: blur(1px);*/
	border-radius: 50%;
	transform: translate(-50%, -50%);
	transition: 180ms ease-out;
	z-index: 9999;
	pointer-events: none;
}

.cursor.active {
	width: 30px;
	height: 30px;
}

.nav-list-group {
	list-style: none;
	display: flex;
	justify-items: center;
	align-items: center;
	width: 100%;
}

.nav-list-group>.list-item {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100px;
	padding: auto 15px;
}

.trans {
	background-color: #004568;
}
