* {
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	cursor: none;
}

/* Custom scrollbar */
::-webkit-scrollbar {
	width: 8px;
	cursor: pointer;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #ddd;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #fff;
}

/* Custom cursor */
#cursor {
	position: absolute;
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, 1);
	mix-blend-mode: difference;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	transition: 160ms ease-out;
	pointer-events: none;
	z-index: 9999;
}

#cursor.active {
	width: 30px;
	height: 30px;
}

#cursor.active-lg {
	width: 60px;
	height: 60px;
}

/* Page loader */
#loader{
	position: absolute;
}

/* Nav */
.nav-list-group {
	list-style: none;
	display: flex;
	justify-items: center;
	align-items: center;
	width: 100%;
}

.nav-list-group>.list-item {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100px;
	padding: auto 15px;
}

/* utilities */
.trans {
	background-color: #00080e;
}

.hide {
	display: none;
}
