* {
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
	width: 8px;
	cursor: pointer;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #ddd;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #fff;
}

/* Custom cursor */
#cursor {
	position: absolute;
	width: 20px;
	height: 20px;
	background: #fff;
	mix-blend-mode: difference;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	transition: 180ms ease-out;
	pointer-events: none;
	z-index: 9999;
}

#cursor.active {
	width: 35px;
	height: 35px;
	animation: cursor-bounce .8s ease-in-out;
}

#cursor.active-lg {
	width: 60px;
	height: 60px;
	animation: cursor-bounce-lg .8s ease-in-out;
}

@keyframes cursor-bounce {
	0% {
		width: 20px;
		height: 20px;
	}

	25% {
		width: 45px;
		height: 45px;
	}

	50% {
		width: 30px;
		height: 30px;
	}

	75% {
		width: 40px;
		height: 40px;
	}

	100% {
		width: 35px;
		height: 35px;
	}
}

@keyframes cursor-bounce-lg {
	0% {
		width: 20px;
		height: 20px;
	}

	25% {
		width: 70px;
		height: 70px;
	}

	50% {
		width: 55px;
		height: 55px;
	}

	75% {
		width: 65px;
		height: 65px;
	}

	100% {
		width: 60px;
		height: 60px;
	}
}

/* Page loader */
#loader {
	position: absolute;
	z-index: 9998;
}

/* Nav */
.nav-list-group {
	list-style: none;
	display: flex;
	justify-items: center;
	align-items: center;
	width: 100%;
}

.nav-list-group>.list-item {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100px;
	padding: auto 15px;
}

/* utilities */
.trans {
	background-color: #00080e;
}

.hide {
	display: none;
}
