html,
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
}

body>#app {
	color: white;
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

body>#app>.bg {
	background-color: #013358;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

body>#app>.waves-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-end;
}

body>#app>.waves-bg>.waves {
	position: relative;
	width: 100%;
	height: 50vh;
	margin-bottom: -7px;
	min-height: 100px;
	max-height: 500px;
}

body>#app>.waves-bg>.waves>.parallax>use {
	animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
	-webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.8));
	filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.8));
}

body>#app>.waves-bg>.waves>.parallax>use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
}

body>#app>.waves-bg>.waves>.parallax>use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
}

body>#app>.waves-bg>.waves>.parallax>use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
}

body>#app>.waves-bg>.waves>.parallax>use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
}

@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}

	100% {
		transform: translate3d(85px, 0, 0);
	}
}

body>#app>.app-card {
	position: absolute;
	height: 85%;
	width: 80%;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 0 5px 20px 2px #00000099;
}

body>#app>.app-card>.mask {
	position: absolute;
	height: 100%;
	width: 100%;
	/*background: rgb(0, 0, 0, 35%);*/
	background-image: linear-gradient(to bottom, rgb(0, 0, 0, 30%), rgb(0, 0, 0, 80%));
	/*backdrop-filter: blur(12px);*/
	/*-webkit-backdrop-filter: blur(12);*/
}

body>#app>.app-card>.content {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden auto;
}

body>#app>.app-card>.content>header {
	position: relative;
	float: left;
	width: 100%;
	overflow: visible;
}

body>#app>.app-card>.content>header a {
	color: white;
	text-decoration: none;
}

body>#app>.app-card>.content>header .nav-brand {
	position: fixed;
	height: 80px;
	width: 80%;
	overflow: hidden;
	margin: 0;
	padding: 0 20px;
	display: flex;
	justify-content: start;
	align-items: center;
	border-radius: 20px 20px 0 0;
	z-index: 11;
}

body>#app>.app-card>.content>header .nav-brand>.brand {
	display: flex;
	justify-content: start;
	align-items: center;
}

body>#app>.app-card>.content>header .nav-brand>.brand>* {
	display: flex;
	justify-content: start;
	align-items: center;
}

body>#app>.app-card>.content>header .nav-brand>.brand>img {
	float: left;
	height: 20px;
	width: 20px;
	margin-right: 10px;
}

body>#app>.app-card>.content>header .nav-brand>.brand>h1 {
	font-size: 1.4rem;
	font-weight: 900;
	/*-webkit-text-stroke: 0.7px #fff;
	-webkit-text-fill-color: transparent;*/
}

body>#app>.app-card>.content>header .nav-brand.shrink {
	height: 50px;
	margin-bottom: -20px;
}

body>#app>.app-card>.content>header .nav-brand.shrink>.brand>img {
	height: 17px;
	width: 17px;
	margin-right: 8px;
}

body>#app>.app-card>.content>header .nav-brand.shrink>.brand>h1 {
	font-size: 1.2rem;
}

body>#app>.app-card>.content>header>.banner-wrapper {
	background-image: url('../img/banner-img.png');
	background-position: center;
	background-repeat: no-repeat;
	background-color: #01335855;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 100%;
	margin-top: 80px;
	text-align: center;
}

body>#app>.app-card>.content>header>.banner-wrapper>div {
	padding: 20px 30px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	font-size: 1.3rem;
}

body>#app>.app-card>.content>header>.banner-wrapper>div h2 {
	font-weight: 800;
}

body>#app>.app-card>.content>header>nav.nav-filter {
	width: 100%;
	height: 60px;
	border-radius: 0 0 20px 20px;
}

body>#app>.app-card>.content>header>nav.nav-filter.sticky {
	position: fixed;
	width: 80%;
	top: calc(50px + 7.5%);
	overflow: hidden;
	box-shadow: 0 5px 80px 10px rgba(0, 0, 0, 0.2);
	z-index: 10;
}

body>#app>.app-card>.content>header>nav.nav-filter>ul {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

body>#app>.app-card>.content>header>nav.nav-filter>ul>li {
	height: 60px;
}

body>#app>.app-card>.content>header>nav.nav-filter>ul>li>a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	border-bottom: 3px solid transparent;
	transition: all .1s ease-in-out;
}

body>#app>.app-card>.content>header>nav.nav-filter>ul>li.active>a,
body>#app>.app-card>.content>header>nav.nav-filter>ul>li:hover>a {
	border-bottom-color: white;
}

body>#app>.app-card>.content>main {
	/*min-height: 800px;*/
	padding-top: 30px;
	padding-bottom: 60px;
}

body>#app>.app-card>.content>main>.list-templates-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 10px 10px;
	grid-template-areas: ". . .";
	width: 100%;
	margin: auto 10px;
}

body>#app>.app-card>.content>main>.list-templates-grid>a.template-item {
	position: relative;
	overflow: hidden;
	width: 100%;
	min-height: 200px;
	padding: auto 5%;
	border-radius: 10px;
	color: #FFF;
	text-decoration: none;
}

body>#app>.app-card>.content>main>.list-templates-grid>a.template-item>img {
	position: absolute;
	width: 100%;
	height: 100%;
}

body>#app>.app-card>.content>main>.list-templates-grid>a.template-item>.content {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding: 10px;
	opacity: 0;
}

body>#app>.app-card>.content>main>.list-templates-grid>a.template-item:hover>.content {
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.47%, rgba(0, 0, 0, 0.7) 90.13%);
	opacity: 1;
}

body>#app>.app-card>.content>main>.list-templates-grid>a.template-item:hover>.content>div {
	min-height: 30px;
}

body>#app>.app-card>.content>main>.list-templates-grid>a.template-item:hover>.content .title {
	font-size: 1rem;
	font-weight: 500;
}

body>#app>.app-card>.content>main>.list-templates-grid>a.template-item:hover>.content .sub-title {
	font-size: 0.9rem;
	font-weight: 400;
}

body>#app>.app-card>.content>main>.list-templates-grid>a.template-item:hover>.content>.info {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

body>#app>.app-card>.content>footer {
	position: fixed;
	width: 80%;
	bottom: 7.5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0 0 20px 20px;
	z-index: 3;
}

body>#app>.app-card>.content>footer>* {
	height: 60px;
	color: #FFF;
	display: flex;
	align-items: center;
	font-size: 0.9rem;
}

body>#app>.app-card>.content>footer>a {
	text-decoration: none;
	padding-left: 20px;
	justify-content: start;
	font-size: 0.8rem;
}

body>#app>.app-card>.content>footer>a>img {
	height: 22px;
	width: 22px;
	margin-right: 5px;
}

body>#app>.app-card>.content>footer>a {
	padding-left: 20px;
	justify-content: start;
	font-weight: bold;
}

body>#app>.app-card>.content>footer>p {
	padding-right: 20px;
	justify-content: end;
	font-size: 0.8rem;
	font-weight: 500;
}
