@media only screen and (max-width:950px) {
	body>#app>.app-card>.content>main>.list-templates-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		gap: 10px 10px;
		grid-template-areas: ". .";
		width: calc(100% - 30px);
	}
}

@media only screen and (max-width:650px) {
	body>#app>.app-card {
		position: relative;
		height: 100vh;
		width: 100vw;
		border-radius: 0;
		box-shadow: none;
	}

	body>#app>.app-card>.content>main>.list-templates-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: 10px 10px;
		grid-template-areas: ".";
		width: calc(100% - 30px);
	}
}
