@media only screen and (max-width:950px) {
	body>#app>.app-card>.content>main>.list-templates-grid {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: ". .";
	}
}

@media only screen and (max-width:650px) {
	body>#app>.app-card {
		position: relative;
		height: 100vh;
		width: 100vw;
		border-radius: 0;
		box-shadow: none;
	}

	body>#app>.app-card>.content>header .nav-brand {
		top: 0px;
		transform: translateX(4px);
		width: 100vw;
		border-radius: 0;
	}

	body>#app>.app-card>.content>header>nav.nav-filter.sticky {
		position: fixed;
		top: 49px;
		transform: translateX(4px);
		width: 100vw;
	}

	body>#app>.app-card>.content>main>.list-templates-grid {
		grid-template-columns: 1fr;
		grid-template-areas: ".";
	}
}
